<p id="notice"><%= notice %></p>

<h1>Listing Reserves</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Description</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reserves.each do |reserf| %>
      <tr>
        <td><%= reserf.name %></td>
        <td><%= reserf.date %></td>
        <td><%= reserf.description %></td>
        <td><%= reserf.user %></td>
        <td><%= link_to 'Show', user_reserf_path(current_user,reserf) %></td>
        <td><%= link_to 'Edit', edit_user_reserf_path(current_user,reserf) %></td>
        <td><%= link_to 'Destroy', user_reserves_path(current_user,reserf), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reserf', new_user_reserf_path %>
